<footer class='flex-container'>
    <div>
        <h6 class='footer-heading'><span>Lorem 1</span><span class="fas fa-angle-down"></span></h6>
        <ul>
            <li><span class="fas fa-map-marker"></span><span>Renting
                    USA 211 Section 10, California
                </span></li>
            <li><span class="fas fa-phone"></span><span> 000-000-000</span></li>
            <li><span class="far fa-envelope"></span> <span>renting@.com</span></li>
            <li>
                <a href='#'><span class="fab fa-youtube"></span></a>
                <a href='#'><span class="fab fa-instagram"></span></a>
                <a href='#'><span class="fab fa-facebook"></span></a>
                <a href='#'><span class="fab fa-twitter"></span></a>
            </li>
        </ul>
    </div>
    <div>
        <h6 class='footer-heading'><span>Lorem 2</span><span class="fas fa-angle-down"></span></h6>
        <ul>
            <li><a href='#'>Правила использования</a></li>
            <li><a href='#'>Служба поддержки</a></li>
            <li><a href='#'>Хранение и обработка персональных данных</a></li>
        </ul>
    </div>
    <div>
        <h6 class='footer-heading'><span>Lorem 3</span><span class="fas fa-angle-down"></span></h6>
        <ul>
            <li><a href='#'>Отмена бронирования</a></li>
            <li><a href='#'>Въезд-выезд</a></li>
        </ul>
    </div>
</footer>