<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renting</title>
    <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
	{{>menu showUserNavMenu=showUserNavMenu}}
    {{{body}}}
    {{>footer}}
    <script type='module' src="/js/menu.js"></script>
</body>

</html>